// MONTSERRAT

@font-face {
  font-family: 'montserrat-regular';
  src: local('montserrat-regular'), url('../assets/fonts/Montserrat/montserrat-v15-latin-regular.woff') format('woff');
  font-style: normal;
}

@font-face {
  font-family: 'montserrat-italic';
  src: local('montserrat-italic'), url('../assets/fonts/Montserrat/montserrat-v15-latin-italic.woff') format('woff');
  font-style: normal;
}

@font-face {
  font-family: 'montserrat-bold';
  src: local('montserrat-bold'), url('../assets/fonts/Montserrat/montserrat-v15-latin-700.woff') format('woff');
  font-style: normal;
}

@font-face {
  font-family: 'montserrat-bold-italic';
  src: local('montserrat-italic'), url('../assets/fonts/Montserrat/montserrat-v15-latin-700italic.woff') format('woff');
  font-style: normal;
}

@font-face {
  font-family: 'press-start-regular';
  src: local('press-start-regular'), url('../assets/fonts/PressStart2P/press-start-2p-v9-latin-regular.woff') format('woff');
  font-style: normal;
}

@font-face {
  font-family: 'syncopate-bold';
  src: local('syncopate-bold'), url('../assets/fonts/Syncopate-Bold.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'syncopate-regular';
  src: local('syncopate-regular'), url('../assets/fonts/Syncopate-Regular.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'basier-square-mono-regular';
  src: local('basier-square-mono-regular'), url('../assets/fonts/basier-square-mono-regular.woff') format('woff');
  font-style: normal;
}
