@font-face {
  font-family: 'syncopate-bold';
  src: local('syncopate-bold'), url('../assets/fonts/Syncopate-Bold.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'syncopate-regular';
  src: local('syncopate-regular'), url('../assets/fonts/Syncopate-Regular.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'basier-square-mono-regular';
  src: local('basier-square-mono-regular'), url('../assets/fonts/basier-square-mono-regular.woff') format('woff');
  font-style: normal;
}
